.Marvel{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: brown;
  text-align: center;
  display: grid;
  align-items: center;
  font-family: "Montserrat";
  padding: 2rem; 
}


h1{
  color: #fff;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: bold !important;
  margin-bottom: 5vh !important;
}

.characters{
  display: grid ;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.card{
  width: 18rem;
  margin: 2rem;
}

h5{
  color: #fff;
}